.env
\.env

/env
/env311
/test
example_transformers_usage.py
mistral.py

__pycache__
*.pyc
*.pyo
*.pyd
*.pdb
*.pkl
*.egg
*.egg-info
*.whl
*.dist-info
*.db
*.sqlite3
*.log
*.coverage
*.mypy_cache
*.pytest_cache
*.tox
*.venv
*.virtualenv
*.ipynb_checkpoints
*.DS_Store
*.vscode
*.idea
*.swp
*.swo
*.bak
*.tmp
*.orig
*.swm
*.swo
*.swn
*.pyclass